<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HDAConfigDefault</key>
	<array>
		<dict>
			<key>CodecID</key>
			<integer>287143653</integer>
			<key>ConfigData</key>
			<data>
			AKccIACnHRAApx6BAKcfAQC3HBAAtx0QALceIQC3HwMAxxxgAMcd
			AADHHgAAxx9JANccMADXHQEA1x4XANcfmQD3HFAA9x0AAPceAAD3
			H0kBFxxAARcdAAEXHqABFx+Z
			</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>12</integer>
		</dict>
	</array>
</dict>
</plist>
